<h1>Currencies#index</h1>
<p>Find me in app/views/currencies/index.html.erb</p>



<% @currencies.each do |c|  %>
  <%=c.name  %>
  <%=c.date  %>
  <%=c.open  %>
  <%=c.high  %>
  <%=c.close %>

<% end %>
