<div class="container">
  <h1>Historical DATA MOTHERFUCKERS</h1>

  <div class="table-responsive">
    <table class="table"> <caption>Optional table caption.</caption>
      <thead>
        <tr>

          <th>Name</th>
          <th>Open</th>

          <th>Volume</th>
          <th>MarketCap</th>
          <th>Sum</th>
        </tr>
      </thead>
      <tbody>
       <% @currencies.each do |c| %>
        <tr>
        <td><%=c.name  %>  </td>
        <td> <%=c.open  %> </td>
        <td> <%=c.volume * 1000 %> </td>
        <td> <%=c.MarketCap * 1000 %> </td>
        <td> <%=c.sum = c.open  %> </td>


      <% end %>
        </tr>

       </tbody>
     </table>

  </div>

</div>










